
.section{
    border: 1px solid black;
    width: 50%;
    background-color:#F8F9F9
    

}
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    /* background-color: #f1f1f1; */
    /* background-color: #ffffff; */
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.5em;
    letter-spacing:0.00938em;
  }
  
  /* #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  } */
  
  h1 {
    text-align: center;  
  }
  
  /* input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  } */
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  select.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
   */
  /* button:hover {
    opacity: 0.8;
  } */
  
  #prevBtn {
    background-color: #0d6efd;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #02175e;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }
  h3{
    line-height:1.5em;
    letter-spacing:0.00938em;
    padding:3px;
    text-transform:capitalize;
  }

